@using UNETI.FIT.Areas.qlda.Models.Entity;
@model IEnumerable<Confirm>
@{
    bool IsTeacherAndWait = false;
}

<ul class="dssvtg">
    @foreach (var item in Model)
    {
        <li class="profile">
            <a href="@Url.Action("index", "student", new { id=User.Identity.Name })">
                <div class="avatar">
                    <img width="50" height="50" 
                        src="/content/upload/@item.Student.Avatar" 
                        class="img-circle"
                        title="@item.Student.FullName" />
                </div>
            </a>
        </li>
    }
</ul>
