@{
    int today = UNETI.FIT.GlobalVariables.Counter;
    int thismonth = today + 100;
    int total = thismonth + 123;
}

<ul>
    <li><span class="glyphicon glyphicon-globe"></span>Visit Today<span class="info">@today</span></li>
    <li><span class="glyphicon glyphicon-globe"></span>This Mounth<span class="info">@thismonth</span></li>
    <li><span class="glyphicon glyphicon-globe"></span>Total Visit<span class="info">@total</span></li>
    <li><span class="glyphicon glyphicon-globe"></span>Online<span class="info">01</span></li>
</ul>
