@model UNETI.FIT.Areas.SubjectManager.Models.Entity.Report
@{
    int tiendo = 0;
    int sum = 5;
    if (Model.Progress != null)
    {
        tiendo = (int)Model.Progress;
        sum = Enum.GetNames(Model.Progress.GetType()).Count();
    }
    string src = "";
    string allow = User.IsInRole("teacher") ? "" : "not-allowed";
}

<span><strong>Tiến độ: </strong></span>
<span class="vote_td">
    @for (int i = 1; i <= sum; i++)
    {
        if (i <= tiendo || sum == tiendo)
        {
            src = "rating_on.gif";
        }
        else
        {
            src = "rating_off.gif";
        }
        <a style="cursor:@allow;" href="@Url.Action("DanhGiaTienDo", new { id = Model.ID, progress = i })">
            <img src="/images/@src" />
        </a>
    }
</span>