@model UNETI.FIT.Areas.SubjectManager.Models.Entity.Teacher
@{
    ViewBag.Title = Model.FullName;
}
<div id="blsd">

<div id="blsd_padding" class="hsgvgv">
<h3>THÔNG TIN</h3>
<div class="hscn">
@Html.DisplayForModel()
</div>

</div>
@{Html.RenderAction("Xacnhan", "Subject");}

</div>