@{
    ViewBag.Title = "Giới thiệu";
}

<div class="well about">
    <h2>Giới thiệu</h2>
    <p>
        <h3>Lịch sử hình thành và phát triển</h3>

    <p>
        Khoa CNTT được thành lập từ năm 2004, từ 6 thành viên ban đầu thuộc tổ môn tin học của Khoa khoa học cơ bản, cho đến nay khoa đã phát triển với con số 34 giảng viên, trong đó trên 95% giáo viên trong Khoa đạt trình độ Thạc sỹ và 3 nghiên cứu sinh. Khoa có 9 phòng máy thực hành với hơn 700 máy tính, trong đó có 4 phòng ở cơ sở Nam Định, 5 phòng ở cơ sở Hà Nội ...
    </p>
    <p>
        Với ưu thế về tuổi trẻ và công nghệ, khoa đã tiên phong dẫn đầu trong việc áp dụng công nghệ thông tin vào giảng dạy và xây dựng các bài giảng điện tử. Nhiều giáo viên tham gia và đạt giải cao trong các kỳ thi giáo viên dạy giỏi các cấp do Bộ Giáo dục và đào tạo, Bộ Công thương tổ chức.
    </p>
    <p>
        Đào tạo nhiều khóa học sinh, sinh viên tốt nghiệp ra trường được các tổ chức sử dụng lao động đánh giá cao.
    </p>
    <p>
        Tích cực tham gia nghiên cứu khoa học, chủ trì và tham gia nghiên cứu các đề tài cấp trường, cấp Bộ và tương đương.
    </p>
    <p>
        Các phần thưởng: Tập thể đã được tặng bằng khen của Bộ Công thương, bằng khen của Ủy ban nhân dân quận Hai Bà Trưng; 02 cá nhân được tặng bằng khen của Bộ Công thương.
    </p>
    <p>
        Không ngừng nâng cao chất lượng đào tạo nhân lực CNTT, phấn đấu trở thành địa chỉ đào tạo, nghiên cứu khoa học và chuyển giao công nghệ có chất lượng cao với đội ngũ giảng viên đạt chuẩn, đào tạo gắn liền với thực tiễn, đáp ứng yêu cầu của đất nước trong giai đoạn hội nhập Quốc tế.
    </p>
</div>