@model IEnumerable<UNETI.FIT.Models.ViewModels.CategoryViewModel>


@foreach (var c in Model)
{
    string _in = "";
    if (c.ID == Model.First().ID) { _in = "in"; }
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href="#collapse-@c.ID"  data-parent="#accordion" data-toggle="collapse" aria-expanded="false" aria-controls="collapse-@c.ID">
                    @Resources.Resource.ResourceManager.GetString(c.Name)
                </a>
            </h4>
        </div>
        <div id="collapse-@c.ID" class="panel-collapse collapse @_in" aria-expanded="false">
            <ul class="list-group">
                @foreach (var item in c.Articles)
                {
                    <li class="list-group-item">
                        <a href="@Url.Action("Details", "home", new { id = item.ID })">@item.Title</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}