@{
    ViewBag.Title = "Contact";
}

<section class="contact">
    <p>
        <h2>Khoa Công nghệ thông tin - Trường Đại học Kinh tế Kỹ thuật Công nghiệp.</h2>

        <h4>Cơ sở Hà Nội:</h4>

        Địa chỉ: Số 456 Minh Khai - Quận Hai Bà Trưng – TP Hà Nội

        Điện thoại : (04) 38612366 - 116

        Fax : (04) 38623938

        <h4>Cơ sở Nam Định:</h4>

        Địa chỉ: Số 353 – Trần Hưng Đạo – TP Nam Định

        Điện thoại: (0350) 3848706

        Fax : (0350) 3845745

        Website: http://khoacntt.uneti.edu.vn

        Email:   khoacntt@uneti.edu.vn

        Mọi thắc mắc và góp ý các bạn có thể gửi về cho chúng tôi qua form dưới.
    </p>
</section>