@model UNETI.FIT.Areas.qlda.Models.Entity.Progress
@{
    int tiendo = (int)Model;
    int sum = Enum.GetNames(Model.GetType()).Count();
    string src = "star.png";
}

<span>Tiến độ: </span>
<span>
    @for (int i = 0; i < sum; i++)
    {
        if (i <= tiendo)
        {
            src = "star.png";
        }
        <a href="@Url.Action("DanhGiaTienDo", new { id = ViewBag.ID, progress = i })">
            <img src="/content/upload/@src" />
        </a>
    }
</span>